@tailwind base;
@tailwind components;
@tailwind utilities;

/*

.text-center { text-align: center }

@media (min-width: 640px) {
  .tablet\:text-center { text-align: center }
}

@media (min-width: 1024px) {
  .laptop\:text-center { text-align: center }
}

@media (min-width: 1280px) {
  .desktop\:text-center { text-align: center }
}


/* Generated CSS 

.bg-black { background-color: #000 }
.bg-white { background-color: #fff }


.hover\:bg-black:hover { background-color: #000 }
.hover\:bg-white:hover { background-color: #fff }


.focus\:bg-black:focus { background-color: #000 }
.focus\:bg-white:focus { background-color: #fff }


.border-black { border-color: #000 }
.border-white { border-color: #fff }


.focus\:border-black:focus { border-color: #000 }
.focus\:border-white:focus { border-color: #fff }


.hover\:border-black:hover { border-color: #000 }
.hover\:border-white:hover { border-color: #fff }

*/

/* Global styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}